@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css?family=Dancing+Script");

.max-w-sm {
  @apply rounded overflow-hidden shadow-lg;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: auto;
  z-index: 20;
  /* position: absolute; */
}

.post {
  /* display: flex; */
  /* z-index: 0; */
  display: block !important;
}

.post .delete {
  flex-direction: row-reverse;
  margin-left: auto;
  top: 10px;
  right: 0px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.post:hover .delete {
  opacity: 1;
}

.checkContainer {
  width: 25px;
  height: 25px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}
.checkContainer:hover {
  border: 2px solid rgb(255, 223, 222);
}
.checkIcon {
  position: absolute;
  font-size: 30px;
  color: rgb(255, 223, 222);
}
.completedText {
  text-decoration: line-through;
}

@font-face {
  font-family: "Nanum Myeongjo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
}

@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css?family=Dancing+Script");
}

@layer base {
  * {
    font-family: "Nanum Myeongjo";
  }
}
